:host {
  display: block;
}

ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-item,
ion-input,
ion-label,
ion-text {
  background: var(--ion-item-background);
  color: var(--ion-text-color);
}

ion-card {
  background: var(--ion-card-background);
  color: var(--ion-text-color);
}

ion-card-title,
ion-card-subtitle {
  color: var(--ion-text-color);
}
